:root {
    /* primary */
    --color-primary-50: oklch(from var(--color-primary-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-primary-100: oklch(from var(--color-primary-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-primary-200: oklch(from var(--color-primary-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-primary-300: oklch(from var(--color-primary-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-primary-400: oklch(from var(--color-primary-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-primary-500: var(--color-primary-base);
    --color-primary-600: oklch(from var(--color-primary-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-primary-700: oklch(from var(--color-primary-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-primary-800: oklch(from var(--color-primary-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-primary-900: oklch(from var(--color-primary-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-primary-950: oklch(from var(--color-primary-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-primary: var(--color-primary-500);
    --color-primary-fg: oklch(from var(--color-primary) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* secondary */
    --color-secondary-50: oklch(from var(--color-secondary-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-secondary-100: oklch(from var(--color-secondary-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-secondary-200: oklch(from var(--color-secondary-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-secondary-300: oklch(from var(--color-secondary-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-secondary-400: oklch(from var(--color-secondary-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-secondary-500: var(--color-secondary-base);
    --color-secondary-600: oklch(from var(--color-secondary-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-secondary-700: oklch(from var(--color-secondary-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-secondary-800: oklch(from var(--color-secondary-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-secondary-900: oklch(from var(--color-secondary-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-secondary-950: oklch(from var(--color-secondary-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-secondary: var(--color-secondary-500);
    --color-secondary-fg: oklch(from var(--color-secondary) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* success */
    --color-success-50: oklch(from var(--color-success-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-success-100: oklch(from var(--color-success-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-success-200: oklch(from var(--color-success-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-success-300: oklch(from var(--color-success-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-success-400: oklch(from var(--color-success-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-success-500: var(--color-success-base);
    --color-success-600: oklch(from var(--color-success-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-success-700: oklch(from var(--color-success-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-success-800: oklch(from var(--color-success-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-success-900: oklch(from var(--color-success-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-success-950: oklch(from var(--color-success-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-success: var(--color-success-500);
    --color-success-fg: oklch(from var(--color-success) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* error */
    --color-error-50: oklch(from var(--color-error-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-error-100: oklch(from var(--color-error-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-error-200: oklch(from var(--color-error-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-error-300: oklch(from var(--color-error-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-error-400: oklch(from var(--color-error-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-error-500: var(--color-error-base);
    --color-error-600: oklch(from var(--color-error-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-error-700: oklch(from var(--color-error-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-error-800: oklch(from var(--color-error-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-error-900: oklch(from var(--color-error-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-error-950: oklch(from var(--color-error-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-error: var(--color-error-500);
    --color-error-fg: oklch(from var(--color-error) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* danger */
    --color-danger-50: oklch(from var(--color-danger-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-danger-100: oklch(from var(--color-danger-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-danger-200: oklch(from var(--color-danger-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-danger-300: oklch(from var(--color-danger-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-danger-400: oklch(from var(--color-danger-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-danger-500: var(--color-danger-base);
    --color-danger-600: oklch(from var(--color-danger-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-danger-700: oklch(from var(--color-danger-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-danger-800: oklch(from var(--color-danger-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-danger-900: oklch(from var(--color-danger-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-danger-950: oklch(from var(--color-danger-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-danger: var(--color-danger-500);
    --color-danger-fg: oklch(from var(--color-danger) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* warning */
    --color-warning-50: oklch(from var(--color-warning-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-warning-100: oklch(from var(--color-warning-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-warning-200: oklch(from var(--color-warning-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-warning-300: oklch(from var(--color-warning-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-warning-400: oklch(from var(--color-warning-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-warning-500: var(--color-warning-base);
    --color-warning-600: oklch(from var(--color-warning-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-warning-700: oklch(from var(--color-warning-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-warning-800: oklch(from var(--color-warning-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-warning-900: oklch(from var(--color-warning-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-warning-950: oklch(from var(--color-warning-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-warning: var(--color-warning-500);
    --color-warning-fg: oklch(from var(--color-warning) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* info */
    --color-info-50: oklch(from var(--color-info-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-info-100: oklch(from var(--color-info-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-info-200: oklch(from var(--color-info-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-info-300: oklch(from var(--color-info-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-info-400: oklch(from var(--color-info-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-info-500: var(--color-info-base);
    --color-info-600: oklch(from var(--color-info-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-info-700: oklch(from var(--color-info-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-info-800: oklch(from var(--color-info-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-info-900: oklch(from var(--color-info-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-info-950: oklch(from var(--color-info-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-info: var(--color-info-500);
    --color-info-fg: oklch(from var(--color-info) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
    /* gray */
    --color-gray-50: oklch(from var(--color-gray-base) calc(l + 0.35) calc(c * 0.3) h);
    --color-gray-100: oklch(from var(--color-gray-base) calc(l + 0.3) calc(c * 0.4) h);
    --color-gray-200: oklch(from var(--color-gray-base) calc(l + 0.25) calc(c * 0.5) h);
    --color-gray-300: oklch(from var(--color-gray-base) calc(l + 0.15) calc(c * 0.7) h);
    --color-gray-400: oklch(from var(--color-gray-base) calc(l + 0.05) calc(c * 0.85) h);
    --color-gray-500: var(--color-gray-base);
    --color-gray-600: oklch(from var(--color-gray-base) calc(l - 0.05) calc(c * 1.1) h);
    --color-gray-700: oklch(from var(--color-gray-base) calc(l - 0.15) calc(c * 1.2) h);
    --color-gray-800: oklch(from var(--color-gray-base) calc(l - 0.25) calc(c * 1.1) h);
    --color-gray-900: oklch(from var(--color-gray-base) calc(l - 0.35) calc(c * 0.8) h);
    --color-gray-950: oklch(from var(--color-gray-base) calc(l - 0.4) calc(c * 0.6) h);
    --color-gray: var(--color-gray-500);
    --color-gray-fg: oklch(from var(--color-gray) calc(l > 0.5 ? 0.1 : 0.9) 0 h);
}

.dark {
    /* primary */
    --color-primary-50: oklch(from var(--color-primary-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-primary-100: oklch(from var(--color-primary-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-primary-200: oklch(from var(--color-primary-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-primary-300: oklch(from var(--color-primary-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-primary-400: oklch(from var(--color-primary-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-primary-500: var(--color-primary-base);
    --color-primary-600: oklch(from var(--color-primary-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-primary-700: oklch(from var(--color-primary-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-primary-800: oklch(from var(--color-primary-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-primary-900: oklch(from var(--color-primary-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-primary-950: oklch(from var(--color-primary-base) calc(l + 0.4) calc(c * 0.6) h);
    /* secondary */
    --color-secondary-50: oklch(from var(--color-secondary-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-secondary-100: oklch(from var(--color-secondary-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-secondary-200: oklch(from var(--color-secondary-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-secondary-300: oklch(from var(--color-secondary-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-secondary-400: oklch(from var(--color-secondary-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-secondary-500: var(--color-secondary-base);
    --color-secondary-600: oklch(from var(--color-secondary-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-secondary-700: oklch(from var(--color-secondary-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-secondary-800: oklch(from var(--color-secondary-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-secondary-900: oklch(from var(--color-secondary-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-secondary-950: oklch(from var(--color-secondary-base) calc(l + 0.4) calc(c * 0.6) h);
    /* success */
    --color-success-50: oklch(from var(--color-success-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-success-100: oklch(from var(--color-success-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-success-200: oklch(from var(--color-success-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-success-300: oklch(from var(--color-success-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-success-400: oklch(from var(--color-success-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-success-500: var(--color-success-base);
    --color-success-600: oklch(from var(--color-success-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-success-700: oklch(from var(--color-success-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-success-800: oklch(from var(--color-success-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-success-900: oklch(from var(--color-success-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-success-950: oklch(from var(--color-success-base) calc(l + 0.4) calc(c * 0.6) h);
    /* error */
    --color-error-50: oklch(from var(--color-error-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-error-100: oklch(from var(--color-error-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-error-200: oklch(from var(--color-error-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-error-300: oklch(from var(--color-error-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-error-400: oklch(from var(--color-error-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-error-500: var(--color-error-base);
    --color-error-600: oklch(from var(--color-error-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-error-700: oklch(from var(--color-error-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-error-800: oklch(from var(--color-error-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-error-900: oklch(from var(--color-error-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-error-950: oklch(from var(--color-error-base) calc(l + 0.4) calc(c * 0.6) h);
    /* danger */
    --color-danger-50: oklch(from var(--color-danger-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-danger-100: oklch(from var(--color-danger-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-danger-200: oklch(from var(--color-danger-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-danger-300: oklch(from var(--color-danger-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-danger-400: oklch(from var(--color-danger-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-danger-500: var(--color-danger-base);
    --color-danger-600: oklch(from var(--color-danger-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-danger-700: oklch(from var(--color-danger-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-danger-800: oklch(from var(--color-danger-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-danger-900: oklch(from var(--color-danger-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-danger-950: oklch(from var(--color-danger-base) calc(l + 0.4) calc(c * 0.6) h);
    /* warning */
    --color-warning-50: oklch(from var(--color-warning-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-warning-100: oklch(from var(--color-warning-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-warning-200: oklch(from var(--color-warning-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-warning-300: oklch(from var(--color-warning-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-warning-400: oklch(from var(--color-warning-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-warning-500: var(--color-warning-base);
    --color-warning-600: oklch(from var(--color-warning-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-warning-700: oklch(from var(--color-warning-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-warning-800: oklch(from var(--color-warning-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-warning-900: oklch(from var(--color-warning-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-warning-950: oklch(from var(--color-warning-base) calc(l + 0.4) calc(c * 0.6) h);
    /* info */
    --color-info-50: oklch(from var(--color-info-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-info-100: oklch(from var(--color-info-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-info-200: oklch(from var(--color-info-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-info-300: oklch(from var(--color-info-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-info-400: oklch(from var(--color-info-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-info-500: var(--color-info-base);
    --color-info-600: oklch(from var(--color-info-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-info-700: oklch(from var(--color-info-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-info-800: oklch(from var(--color-info-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-info-900: oklch(from var(--color-info-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-info-950: oklch(from var(--color-info-base) calc(l + 0.4) calc(c * 0.6) h);
    /* gray */
    --color-gray-50: oklch(from var(--color-gray-base) calc(l - 0.35) calc(c * 0.3) h);
    --color-gray-100: oklch(from var(--color-gray-base) calc(l - 0.3) calc(c * 0.4) h);
    --color-gray-200: oklch(from var(--color-gray-base) calc(l - 0.25) calc(c * 0.5) h);
    --color-gray-300: oklch(from var(--color-gray-base) calc(l - 0.15) calc(c * 0.7) h);
    --color-gray-400: oklch(from var(--color-gray-base) calc(l - 0.05) calc(c * 0.85) h);
    --color-gray-500: var(--color-gray-base);
    --color-gray-600: oklch(from var(--color-gray-base) calc(l + 0.05) calc(c * 1.1) h);
    --color-gray-700: oklch(from var(--color-gray-base) calc(l + 0.15) calc(c * 1.2) h);
    --color-gray-800: oklch(from var(--color-gray-base) calc(l + 0.25) calc(c * 1.1) h);
    --color-gray-900: oklch(from var(--color-gray-base) calc(l + 0.35) calc(c * 0.8) h);
    --color-gray-950: oklch(from var(--color-gray-base) calc(l + 0.4) calc(c * 0.6) h);
}
